.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-slot {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    &:hover {
      background-color: #006eff17;
    }
  }
}
