.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 100px;
    padding-left: 48px;
  }

  &__body {
    display: flex;
    overflow: auto;
  }

  &__week-container {
    display: flex;
    width: 100%;
    height: fit-content;
  }

  &__time-scale {
    height: 100%;
    width: 48px;
  }

  &__week {
    display: flex;
    flex: 1;
  }
}
